

/* Seletor universal 
*{
  border: 1px solid red;
}*/


/* Seletor de texto 
h1{
    color: green;
}*/

/* Seletor de classe */
/* .verde{
   color: green;
}
p.verde{
    color: green;
} */

/* Seletor ID */
/* #cabecalho{
   border: 1px solid blue;
} */

/* Seletor de filho */
/* li>a{
   color: red;
   text-decoration: none;
} */

/* Seletor de descendentes */
/* div a{
    color: green;
} */

/* Seletor de irmão adjacente */
/* h1+p{
    color: red;
} */

/* Seletor de irmão em geral */
/* h1~p{
   color: blue;
} */


/* Herança e especificidade */
/* body{
    color: red;
} */
/* Seletores iguais, exceção important */
/* #pagina{
   color: red !important;
}
#pagina{
    color: blue;
} */
 /* se um seletor for mais específico que outro a regra mais especifica será aplicada
 (terá precedência sobre regras mais gerais) */
/* *{
    color: red;
} */
/* h2{  3 
    color: blue;
}
h2.verde{  2 
    color: green;
}
h2#amarelo{  1 
    color: yellow;
}*/

/* /////////////Barra de navegação vertical///////////// */

/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 5px 20px;
    background: url(../imagens/seta.png) no-repeat left center;
} */

/* /////////////Barra de navegação vertical///////////// */ 
/* ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
 ul a{ */
    /* border: 1px solid red; */
    /* width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-indent: 40px;
    line-height: 40px;
    text-decoration: none;
    background: #f7b600 url(../imagens/menu.png)no-repeat left bottom;

} 

a:hover{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}
#home #navegacao .home a,
#sobre #navegacao .sobre a,
#contato #navegacao .contato a {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
} */

/* /////////////Barra de navegação Horizontal///////////// */
/* ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url(../imagens/fundo-horizontal.png)repeat-x ;
    float: left;
} 

ul li{*/
   /*  border: 1px solid red; */
   /*  float: left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration:none;
    color: white;
    background: url(../imagens/divisor.png) repeat-y left top;
}
ul .primeiro a{
    background: none;
}
ul :hover a{
    color: black;
    background: #44cade;
}
#home #navegacao .home a,
#sobre #navegacao .sobre a,
#contato #navegacao .contato a {
    color: black;
    background: #44cade;
}  */

/* ////////////////////////////////////////////
********Barra de navegação com abas********* */

body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}
ul li{
    float: left;
    background:url(../imagens/aba-direita.png) no-repeat top right;
}
li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../imagens/aba-esquerda.png)no-repeat top left;
    color: #fff;
}
ul a:hover{
    color: #894a1f;

}
ul #atual{
    background:url(../imagens/aba-direita-atual.png) no-repeat top right;
}
ul #atual a{
    background: url(../imagens/aba-esquerda-atual.png)no-repeat top left;
}
p{
    clear: both;
    width: 720px;
    padding: 20px 0;
}